{% extends 'new_style_base.html' %}
{% block content %}
<input
   id="field"
   data-id="{{ pad.field.id }}"
   value="{{ pad.field.name }}"
   hidden
>
<input
   id="customer"
   data-id="{{ pad.field.customer.id }}"
   value="{{ pad.field.customer.name }}"
   hidden
>
<div class="container" style="margin: 10px;">
    <div class="row justify-content-start">
        <li>
            <img src="{{ url_for('static', filename='images/customer.png') }}" class="img-db">
            <span class="left-text-img align-middle"
                id="customer_link"
                data-id="{{ pad.field.customer.id }}">
                <a href="../../new_style_customer/{{ pad.field.customer.id }}">
                    Дочернее общество <br> {{ pad.field.customer.name }}
                </a>
            </span>
            <span class="left-text-img align-middle"
                  id="field_link"
                  data-id="{{ pad.field.id }}">
                <a href="../../new_style_field/{{ pad.field.id }}">
                    Месторождение <br> {{ pad.field.name }}
                </a>
            </span>
            <span class="left-text-img align-middle"
                  id="pad_link"
                  data-id="{{ pad.id }}">
                Куст <br> {{ pad.name }}
            </span>
            <span data-toggle="modal" data-target="#pad-info-btn">
                <img src="{{ url_for('static', filename='images/plus.png') }}"
                     class="img-40px"
                     >
                    Информация
            </span>
            <div class="modal" tabindex="-1" role="dialog" id="pad-info-btn">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div id="edit_pad">
                            <div class="modal-header">
                                <span>{{ pad.field.name }}</span>
                            </div>
                            <div class="modal-body">
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label>ДО</label>
                                        <input class="form-control"
                                               name="customer"
                                               value="{{ pad.field.customer.name }}"
                                               data-id="{{ pad.field.customer.id }}"
                                               style="text-align: center"
                                               disabled>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Месторождение</label>
                                    <input class="form-control"
                                           name="field"
                                           value="{{ pad.field.name }}"
                                           data-id="{{ pad.field.id }}"
                                           disabled>
                                </div>
                                <div class="form-group">
                                    <label>Куст</label>
                                    <input class="form-control"
                                           name="pad"
                                           value="{{ pad.name }}"
                                           data-id="{{ pad.id }}">
                                </div>
                                <div class="form-row">
                                    <button
                                        class="btn btn-primary btn-del"
                                        onclick="edit_pad()">
                                        Сохранить изменения
                                    </button>
                                </div>
                                <div class="form-row">
                                    <button
                                        class="btn btn-primary btn-del"
                                        onclick="delete_pad()">
                                        Удалить куст
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            footer
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </div>
    <div class="row justify-content-start">
        <div class="col-md-2 second-nav">
            <li class="nav-item">
                <a href="{{ url_for('new_style_customers') }}">
                    <img src="{{ url_for('static', filename='images/well.png') }}" class="img-40px">
                    <span class="left-text-img align-middle">Скважина</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ url_for('new_style_customers') }}">
                    <img src="{{ url_for('static', filename='images/well.png') }}" class="img-40px">
                    <span class="left-text-img align-middle">Куст</span>
                </a>
            </li>
             <li class="nav-item">
                <a href="{{ url_for('new_style_customers') }}">
                    <img src="{{ url_for('static', filename='images/strat.png') }}" class="img-40px">
                    <span class="left-text-img align-middle">Стратиграфия</span>
                </a>
            </li>
             <li class="nav-item">
                <a href="{{ url_for('new_style_customers') }}">
                    <img src="{{ url_for('static', filename='images/petro.png') }}" class="img-40px">
                    <span class="left-text-img align-middle">Потрофизическая<br>модель</span>
                </a>
            </li>
             <li class="nav-item">
                <a href="{{ url_for('new_style_customers') }}">
                    <img src="{{ url_for('static', filename='images/export.png') }}" class="img-40px">
                    <span class="left-text-img align-middle">Правило экспорта<br>кривых</span>
                </a>
            </li>
         </div>
        <div class="col" >
            <div class="list-group list-group-flush">
                <span data-toggle="modal" data-target="#add-well-btn">
                <img src="{{ url_for('static', filename='images/plus.png') }}"
                     class="img-40px"
                     >
                    Добавить скважину
                </span>
            </div>
            <div class="modal" tabindex="-1" role="dialog" id="add-well-btn">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div id="add_well">
                            <div class="modal-header">
                                header
                            </div>
                            <div class="modal-body">
                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            <label>Заказчик</label>
                                            <input class="form-control"
                                                       name="customer"
                                                       value="{{ pad.field.customer.name }}"
                                                       data-id="{{ pad.field.customer.id }}"
                                                       style="text-align: center"
                                                       disabled>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            <label>Месторождение</label>
                                            <input class="form-control"
                                                       name="field"
                                                       value="{{ pad.field.name }}"
                                                       data-id="{{ pad.field.id }}"
                                                       style="text-align: center"
                                                       disabled>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-4">
                                            <label>Куст</label>
                                            <input class="form-control"
                                                       name="pad"
                                                       value="{{ pad.name }}"
                                                       data-id="{{ pad.id }}"
                                                       style="text-align: center"
                                                       disabled>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label>Тип скважины</label>
                                            <select class="form-control form-control" name="well_type">
                                                {% for wt in well_types %}
                                                    <option data-id="{{ wt.id }}">{{ wt }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label>Скважина</label>
                                            <input type="text" class="form-control" name="well">
                                        </div>
                                    </div>
                                    <button class="btn btn-primary"
                                            onclick="add_well()">
                                        Добавить
                                    </button>

                                <div class="modal-footer">
                                    footer
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <li class="list-group-item border-0">
                    <input>
            </li>
            <div id="wells">
            {% for well in pad.wells %}
                <a href="{{ url_for('new_style_well', id=well.id) }}">
                    <li>{{ well.name }}</li>
                </a>
            {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block bottom_scripts %}
<script>
    window.onload = function() {
        db_nav = document.getElementById('db-nav')
        db_nav.className = 'nav-second-level db-collapse collapse show'
    }
</script>

<script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script src="{{ url_for('static', filename='js/pad.js') }}"></script>
<script src="{{ url_for('static', filename='js/well.js') }}"></script>
{% endblock %}