{% extends 'new_style_base.html' %}

{% block links %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">
{% endblock %}

{% block content %}
<div class="row">
    <div class="col" >
        <div class="list-group list-group-flush">
            <span data-toggle="modal" data-target="#add-field-btn">
            <img src="{{ url_for('static', filename='images/plus.png') }}"
                 class="img-40px"
                 >
                Добавить месторождение
            </span>
        </div>
        <div class="modal" tabindex="-1" role="dialog" id="add-field-btn">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div id="add_field">
                        <div class="modal-header">
                            header
                        </div>
                        <div class="modal-body">
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label>Заказчик</label>
                                    <select class="form-control"
                                            name="customer">
                                        <option>

                                        </option>
                                        {% for customer in customers %}
                                        <option data-id="{{ customer.id }}">
                                            {{ customer.name }}
                                        </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label>Месторождение</label>
                                    <input type="text"
                                           class="form-control"
                                           name="field">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col">
                                    <button class="btn btn-primary"
                                            onclick="add_field(this)">
                                        Добавить
                                    </button>
                                </div>
                            </div>

                            <div class="modal-footer">
                                footer
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col" >
        <div class="list-group list-group-flush">
            <span data-toggle="modal" data-target="#add-pad-btn">
            <img src="{{ url_for('static', filename='images/plus.png') }}"
                 class="img-40px"
                 >
                Добавить Куст
            </span>
        </div>
        <div class="modal" tabindex="-1" role="dialog" id="add-pad-btn">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div id="add_pad">
                        <div class="modal-header">
                            header
                        </div>
                        <div class="modal-body">
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label>Заказчик</label>
                                    <select class="form-control"
                                            name="customer"
                                            onchange="get_fields(this)">
                                        <option>

                                        </option>
                                        {% for customer in customers %}
                                        <option data-id="{{ customer.id }}">
                                            {{ customer.name }}
                                        </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label>Месторождение</label>
                                    <select class="form-control"
                                            name="field">
                                        <option>

                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label>Куст</label>
                                    <input type="text"
                                           class="form-control"
                                           name="pad">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col">
                                    <button class="btn btn-primary"
                                            onclick="add_pad(this)">
                                        Добавить
                                    </button>
                                </div>
                            </div>

                            <div class="modal-footer">
                                footer
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col" >
        <div class="list-group list-group-flush">
            <span data-toggle="modal" data-target="#add-well-btn">
            <img src="{{ url_for('static', filename='images/plus.png') }}"
                 class="img-40px"
                 >
                Добавить скважину
            </span>
        </div>
        <div class="modal" tabindex="-1" role="dialog" id="add-well-btn">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div id="add_well">
                        <div class="modal-header">
                            header
                        </div>
                        <div class="modal-body">
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label>Заказчик</label>
                                    <select class="form-control"
                                            name="customer"
                                            onchange="get_fields(this)">
                                        <option>

                                        </option>
                                        {% for customer in customers %}
                                        <option data-id="{{ customer.id }}">
                                            {{ customer.name }}
                                        </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label>Месторождение</label>
                                    <select class="form-control"
                                            name="field"
                                            onchange="get_pads(this)">
                                        <option>

                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label>Куст</label>
                                    <select class="form-control"
                                            name="pad">
                                        <option>

                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Скважина</label>
                                    <input type="text" class="form-control" name="well">
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Тип скважины</label>
                                    <select class="form-control"
                                            name="well_type">
                                        <option>

                                        </option>
                                        {% for well_type in well_types  %}
                                        <option data-id="{{ well_type.id }}">
                                            {{ well_type.name }}
                                        </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col">
                                    <button class="btn btn-primary"
                                            onclick="add_well(this)">
                                        Добавить
                                    </button>
                                </div>
                            </div>

                            <div class="modal-footer">
                                footer
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col" >
        <div class="list-group list-group-flush">
            <span data-toggle="modal" data-target="#add-wellbore-btn">
            <img src="{{ url_for('static', filename='images/plus.png') }}"
                 class="img-40px"
                 >
                Добавить скважину
            </span>
        </div>
        <div class="modal" tabindex="-1" role="dialog" id="add-wellbore-btn">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div id="add_wellbore">
                        <div class="modal-header">
                            header
                        </div>
                        <div class="modal-body">
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label>Заказчик</label>
                                        <select class="form-control"
                                                name="customer"
                                                onchange="get_fields(this)">
                                            <option>

                                            </option>
                                            {% for customer in customers %}
                                            <option data-id="{{ customer.id }}">
                                                {{ customer.name }}
                                            </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label>Месторождение</label>
                                        <select class="form-control"
                                                name="field"
                                                onchange="get_pads(this)">
                                            <option>

                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label>Куст</label>
                                        <select class="form-control"
                                                name="pad"
                                                onchange="get_wells(this)">
                                            <option>

                                            </option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>Скважина</label>
                                        <select class="form-control"
                                                name="well"
                                                onchange="set_well_type()">
                                            <option>

                                            </option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>Тип скважины</label>
                                        <input class="form-control"
                                               name="well_type"
                                               disabled>

                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label>Секция</label>
                                        <input type="text" class="form-control" name="wellbore">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Тип сецкии</label>
                                        <select class="form-control"
                                                name="wellbore_type">
                                            <option>

                                            </option>
                                            {% for wb_type in wellbore_types  %}
                                            <option data-id="{{ wb_type.id }}">
                                                {{ wb_type.name }}
                                            </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="is_gis">ГИС</label>
                                        <input type="checkbox"
                                               class="form-control"
                                               name="is_gis"
                                               id="is_gis">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="is_gti">ГТИ</label>
                                        <input type="checkbox"
                                               class="form-control"
                                               name="is_gti"
                                               id="is_gti"
                                               checked>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col">
                                        <button class="btn btn-primary"
                                                onclick="add_wellbore(this)">
                                            Добавить
                                        </button>
                                    </div>
                                </div>

                            <div class="modal-footer">
                                footer
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col" style="margin-left: 10px;">
    <div class="row row-name">
        <div class="col-md-2 display-flex">
            <div class="row no-gutters">
                <div class="col-4 display-flex">
                    <span>Дата</span>
                </div>
                <div class="col-8 display-flex">
                    <span>Месторождение</span>
                </div>
            </div>
        </div>
        <div class="col-md-1 display-flex">
            <div class="row no-gutters">
                <div class="col-4 display-flex">
                    <span>Куст</span>
                </div>
                <div class="col-8">
                    <div class="row first-line no-gutters">
                        <div class="col display-flex">
                            <span>Скважина</span>
                        </div>
                    </div>
                    <div class="row bottom-line no-gutters">
                        <div class="col-6 display-flex">
                            <span>№</span>
                        </div>
                        <div class="col-6 display-flex">
                            <span>Тип</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1 display-flex">
            <div class="row no-gutters">
                <div class="col-8">
                    <div class="row first-line no-gutters">
                        <div class="col display-flex">
                            <span>Ствол</span>
                        </div>
                    </div>
                    <div class="row bottom-line no-gutters">
                        <div class="col-6 display-flex">
                            <span>№</span>
                        </div>
                        <div class="col-6 display-flex">
                            <span>Тип</span>
                        </div>
                    </div>
                </div>
                 <div class="col-4 display-flex">
                    <span>Пласт</span>
                </div>
            </div>
        </div>
        <div class="col-md-1 display-flex">
            <span>ДО</span>
        </div>
        <div class="col-md-1 display-flex">
            <span>Подрядчик по ГТИ</span>
        </div>
        <div class="col-md-2 display-flex">
            <div class="row no-gutters">
                <div class="col-4 display-flex">
                    <span>Оперативность от ГТИ</span>
                </div>
                <div class="col-4 display-flex">
                    <span>Кач-во по щламу/газу</span>
                </div>
                <div class="col-4 display-flex">
                    <span>Частота анализа</span>
                </div>
            </div>
        </div>
        <div class="col-md-1 display-flex">
            <div class="row no-gutters">
                <div class="col-6 display-flex">
                    <span>Т3+ИГТИ</span>
                </div>
                <div class="col-6 display-flex">
                    <span>Т3</span>
                </div>
            </div>
        </div>
        <div class="col-md-1 display-flex">
            <span>Автор</span>
        </div>
        <div class="col-md-1 display-flex">
            <span>Дегазатор</span>
        </div>
        <div class="col-md-1 display-flex">
            <span>Примечания</span>
        </div>
    </div>

    <div class="row row-category">
        <div class="col-md-12 display-flex">
            <span>Активные скважины</span>
        </div>
    </div>
    {% for wb in wellbores %}
    <div id="wb_{{ wb.id }}">
        <span data-toggle="modal" data-target="#wb_info_{{ wb.id }}" style="color: black">
            <div class="row row-content">
                <div class="col-md-2 display-flex">
                    <div class="row no-gutters">
                        <div class="col-4 display-flex">
                            <span>{{ wb.create_date }}</span>
                        </div>
                        <div class="col-8 display-flex">
                            <span>{{ wb.well.field.name }}</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-1 display-flex">
                    <div class="row no-gutters">
                        <div class="col-4 display-flex">
                            <span>{{ wb.well.pad.name }}</span>
                        </div>
                        <div class="col-4 display-flex">
                            <span>{{ wb.well.name }}</span>
                        </div>
                        <div class="col-4 display-flex">
                            <span>{{ wb.well.well_type.name }}</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-1 display-flex">
                    <div class="row no-gutters">
                        <div class="col-4 display-flex">
                            <span>{{ wb.name }}</span>
                        </div>
                        <div class="col-4 display-flex">
                            <span>{{ wb.wellbore_type.name }}</span>
                        </div>
                        <div class="col-4 display-flex">
                            <span>Пласт</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-1 display-flex">
                    <span>{{ wb.well.customer.name }}</span>
                </div>
                <div class="col-md-1 display-flex">
                    <span>{{ wb.gti_row.company }}</span>
                </div>
                <div class="col-md-2 display-flex">
                    <div class="row no-gutters">
                        <div class="col-4 display-flex">
                            <span>{{ wb.gti_row.efficiency }}</span>
                        </div>
                        <div class="col-4 display-flex">
                            <span>{{ wb.gti_row.mud_gas_quality }}</span>
                        </div>
                        <div class="col-4 display-flex">
                            <span>{{ wb.gti_row.frequency }}</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-1 display-flex">
                    <div class="row no-gutters">
                        <div class="col-6 display-flex">
                            <span>{{ wb.gti_row.bottom_hole_plus_igti }}</span>
                        </div>
                        <div class="col-6 display-flex">
                            <span>{{ wb.gti_row.bottom_hole }}</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-1 display-flex">
                    <span>{{ wb.gti_row.authors[-1] }}</span>
                </div>
                <div class="col-md-1 display-flex">
                    <span>{{ wb.gti_row.degasser }}</span>
                </div>
                <div class="col-md-1 display-flex">
                    <span>{{ wb.gti_row.notes }}</span>
                </div>
            </div>
        </span>
        <div class="modal fade" tabindex="-1" role="dialog" id="wb_info_{{ wb.id }}">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    Месторождение: {{ wb.well.field.name }}
                    Куст: {{ wb.well.pad.name }}
                    Скважина: {{ wb.well.name }}{{ wb.well.well_type.name }}
                    Ствол: {{ wb.name }}{{ wb.wellbore_type.name }}
                </div>
                <div class="modal-body">
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <a href="{{ url_for('gti_quality_sheet', gti_quality_sheet_id=wb.gti_row.gti_quality_sheet.id) }}">
                                Чек-лист
                            </a>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>ДО</label>
                            <input type="text"
                                   class="form-control"
                                   name="customer"
                                   value="{{ wb.well.customer.name }}"
                                   readonly>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Подрядчик по ГТИ</label>
                            <input type="text"
                                   class="form-control"
                                   name="customer"
                                   value="{{ wb.gti_row.company }}"
                                   readonly>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Оперативность от ГТИ</label>
                            <input type="text"
                                   class="form-control"
                                   name="customer"
                                   value="{{ wb.gti_row.efficiency }}">
                        </div>
                        <div class="form-group col-md-6">
                            <label>Кач-во по шламу/газу</label>
                            <input type="text"
                                   class="form-control"
                                   name="customer"
                                   value="{{ wb.gti_row.mud_gas_quality }}">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Т3+ИГТИ</label>
                            <input type="text"
                                   class="form-control"
                                   name="customer"
                                   value="{{ wb.gti_row.bottom_hole_plus_igti }}">
                        </div>
                        <div class="form-group col-md-6">
                            <label>Т3</label>
                            <input type="text"
                                   class="form-control"
                                   name="customer"
                                   value="{{ wb.gti_row.bottom_hole }}">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Частота анализа</label>
                            <input type="text"
                                   class="form-control"
                                   name="customer"
                                   value="{{ wb.gti_row.frequency }}">
                        </div>
                        <div class="form-group col-md-6">
                            <label>Автор последнего изменения</label>
                            <input type="text"
                                   class="form-control"
                                   name="customer"
                                   value="{{ wb.gti_row.authors[-1] }}"
                                   readonly>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Дегазатор</label>
                            <input type="text"
                                   class="form-control"
                                   name="customer"
                                   value="{{ wb.gti_row.degasser }}">
                        </div>
                        <div class="form-group col-md-6">
                            <label>Примечания</label>
                            <input type="text"
                                   class="form-control"
                                   name="customer"
                                   value="{{ wb.gti_row.notes }}">
                        </div>
                    </div>
                    <button
                        class="btn btn-primary"
                        onclick="#">
                        Сохранить изменения
                    </button>
                </div>
                <div class="modal-footer">
                    footer
                </div>
            </div>
        </div>
    </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block bottom_scripts %}
<script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script src="{{ url_for('static', filename='js/gti/add_section_tbl.js') }}"></script>
{% endblock %}