{% extends 'new_style_base.html' %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/quality_sheet.css') }}">

    <script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>
    <link href="{{ url_for('static', filename='air-datepicker-master/dist/css/datepicker.min.css') }}" rel="stylesheet" type="text/css">
    <script src="{{ url_for('static', filename='air-datepicker-master/dist/js/datepicker.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/gti/add_row.js') }}"></script>
    <script src="{{ url_for('static', filename='js/gti/delete_row.js') }}"></script>
{% endblock %}

{% block content %}
<div id="technological_research">
    <div class="row row-category">
        <div class="col-md-11 display-flex">
            <span>Технологические исследования</span>
        </div>
    </div>
    <div class="row form-group row">
        <div class="col-md-2 name">
            <span>
                Интревал (по стволу)
            </span>
        </div>
        <div class="col-md-2 name">
            <span>Дата/время</span>
        </div>
        <div class="col-md-2 name">
            <span>Параметр</span>
        </div>
        <div class="col-md-2 name">
            <span>Формат/оперативность</span>
        </div>
        <div class="col-md-3 name">
            <span>Фальсификат</span>
        </div>
        <div class="col-md-1 name" style="background-color: white;">
            <button type="button" onclick="addRow(this)">
                Добавить строку
            </button>
        </div>
    </div>

    <div class="row form-group row" data-index="1">
    <div class="col-md-1 content">
        <input type="text" value="">
    </div>
    <div class="col-md-1 content">
        <input type="text" value="">
    </div>
        <div class="col-md-2 content">
        <input type="text" class="date assigned_date"
               data-position="right top"
               data-timepicker="true"
               autocomplete="off">
    </div>
    <div class="col-md-2 content">
        <input type="text" value="">
    </div>
    <div class="col-md-2 content">
        <input type="text" value="">
    </div>
    <div class="col-md-3 content">
        <input type="text" value="">
    </div>
    <div class="col-md-1 content" style="background-color: white;">
        <button onclick="check = confirm('Удалить строку?');
                        if (check){delete_row(this)} "
                type="button"
                style="display: none;">
            Удалить строку
        </button>
    </div>
</div>
</div>


<div id="gas_research">
    <div class="row row-category name-content-group">
        <div class="col-md-11 display-flex">
            <span>Газовый каротаж</span>
        </div>
    </div>
    <div class="row form-group row">
        <div class="col-md-2 name">
            <span>
                Интревал (по стволу)
            </span>
        </div>
        <div class="col-md-2 name">
            <span>Дата/время</span>
        </div>
        <div class="col-md-2 name">
            <span>Параметр</span>
        </div>
        <div class="col-md-2 name">
            <span>Формат/оперативность</span>
        </div>
        <div class="col-md-3 name">
            <span>Фальсификат</span>
        </div>
        <div class="col-md-1 name" style="background-color: white;">
            <button type="button" onclick="addRow(this)">
                Добавить строку
            </button>
        </div>
    </div>
    <div class="row form-group row">
        <div class="col-md-1 content">
            <input type="text" value="">
        </div>
        <div class="col-md-1 content">
            <input type="text" value="">
        </div>
            <div class="col-md-2 content">
            <input type="text" class="date assigned_date"
                   data-position="right top"
                   data-timepicker="true"
                   autocomplete="off">
        </div>
        <div class="col-md-2 content">
            <input type="text" value="">
        </div>
        <div class="col-md-2 content">
            <input type="text" value="">
        </div>
        <div class="col-md-3 content">
            <input type="text" value="">
        </div>
        <div class="col-md-1 content" style="background-color: white;">
            <button onclick="check = confirm('Удалить строку?');
                            if (check){delete_row(this)} "
                    type="button"
                    style="display: none;">
                Удалить строку
            </button>
        </div>
    </div>
</div>

<div id="geo_research">
    <div class="row row-category name-content-group">
        <div class="col-md-11 display-flex">
            <span>Геолого-Геофизические исследования</span>
        </div>
    </div>
    <div class="row form-group row">
        <div class="col-md-2 name">
            <span>
                Интревал (по стволу)
            </span>
        </div>
        <div class="col-md-2 name">
            <span>Дата/время</span>
        </div>
        <div class="col-md-2 name">
            <span>Параметр</span>
        </div>
        <div class="col-md-2 name">
            <span>Формат/оперативность</span>
        </div>
        <div class="col-md-3 name">
            <span>Фальсификат</span>
        </div>
        <div class="col-md-1 name" style="background-color: white;">
            <button type="button" onclick="addRow(this)">
                Добавить строку
            </button>
        </div>
    </div>
    <div class="row form-group row">
    <div class="col-md-1 content">
        <input type="text" value="">
    </div>
    <div class="col-md-1 content">
        <input type="text" value="">
    </div>
        <div class="col-md-2 content">
        <input type="text" class="date assigned_date"
               data-position="right top"
               data-timepicker="true"
               autocomplete="off">
    </div>
    <div class="col-md-2 content">
        <input type="text" value="">
    </div>
    <div class="col-md-2 content">
        <input type="text" value="">
    </div>
    <div class="col-md-3 content">
        <input type="text" value="">
    </div>
    <div class="col-md-1 content" style="background-color: white;">
        <button onclick="check = confirm('Удалить строку?');
                        if (check){delete_row(this)} "
                type="button"
                style="display: none;">
            Удалить строку
        </button>
    </div>
</div>
</div>
{% endblock %}

{% block bottom_scripts %}

<script src="{{ url_for('static', filename='js/datepicker/init_date.js') }}"></script>
{% endblock %}