{% extends 'new_style_base.html' %}

{% block links %}

{% endblock %}

{% block content %}
<div class="container" style="margin: 10px;">
    <div class="row justify-content-start">
        <div class="col" style="width: 30%">
            <div class="list-group list-group-flush">
                <li class="list-group-item border-0">
                    <img src="{{ url_for('static', filename='images/customer.png') }}" class="img-db">
                    <span class="left-text-img align-middle"
                          id="parameter"
                          data-id="{{ parameter.id }}">
                        Параметр {{ parameter.name }}
                    </span>
                </li>
                <li>
                    <span data-toggle="modal" data-target="#info-parameter-btn">
                    <img src="{{ url_for('static', filename='images/plus.png') }}"
                         class="img-40px"
                         >
                        Информация
                    </span>
                    <div class="modal" tabindex="-1" role="dialog" id="info-parameter-btn">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div id="edit_parameter">
                                    <div class="modal-header">
                                        header
                                    </div>
                                    <div class="modal-body">

                                        <div class="form-group col-md-12">
                                            <label>Параметр</label>
                                            <input type="text"
                                                   class="form-control"
                                                   name="parameter"
                                                   value="{{  parameter.name }}"
                                                   data-id="{{ parameter.id }}">
                                        </div>
                                        <button
                                            class="btn btn-primary"
                                            onclick="edit_parameter()">
                                            Редактировать
                                        </button>
                                        <button
                                            class="btn btn-primary"
                                            onclick="delete_parameter()">
                                            Удалить
                                        </button>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    footer
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <span data-toggle="modal" data-target="#add-format-btn">
                    <img src="{{ url_for('static', filename='images/plus.png') }}"
                         class="img-40px"
                         >
                        Добавить форммат
                    </span>
                    <div class="modal" tabindex="-1" role="dialog" id="add-format-btn">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div id="add_format">
                                    <div class="modal-header">
                                        header
                                    </div>
                                    <div class="modal-body">

                                        <div class="form-group col-md-12">
                                            <label>Формат</label>
                                            <input type="text" class="form-control" name="format">
                                        </div>
                                        <button
                                            class="btn btn-primary"
                                            onclick="add_format()">
                                            Добавить
                                        </button>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    footer
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item border-0">
                    <input>
                </li>
                <div id="formats">
                    {% for format in parameter.formats %}
                        <a href="{{ url_for('gti_format', format_id=format.id) }}">
                            <li>{{ format.name }}</li>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block bottom_scripts %}
<script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script src="{{ url_for('static', filename='js/gti/parameter.js') }}"></script>
<script src="{{ url_for('static', filename='js/gti/format.js') }}"></script>
{% endblock %}