{% extends 'new_style_base.html' %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/quality_sheet.css') }}">

    <script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>
    <link href="{{ url_for('static', filename='air-datepicker-master/dist/css/datepicker.min.css') }}" rel="stylesheet" type="text/css">
    <script src="{{ url_for('static', filename='air-datepicker-master/dist/js/datepicker.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/gti/quality_sheet/add_row.js') }}"></script>
    <script src="{{ url_for('static', filename='js/gti/quality_sheet/delete_row.js') }}"></script>
{% endblock %}

{% block content %}
    <div id="info">
        <div class="row">
            <div class="col">
                <span>Подрядчик {{ quality_sheet.gti_table_row.service_company.name }}</span>
            </div>
            <div class="col">
                <span>Тип станции {{ quality_sheet.gti_table_row.station_type.name }}</span>
            </div>
            <div class="col">
                <span>Тип хроматографа {{ quality_sheet.gti_table_row.chromatograph_type.name }}</span>
            </div>
            <div class="col">
                <span>Тип дегазатора {{ quality_sheet.gti_table_row.degasser_type.name }}</span>
            </div>
            <div class="col">
                <span>Завод № {{ quality_sheet.gti_table_row.factory_num }}</span>
            </div>
        </div>
    </div>
    <div id="researches">
        <div id="technological_research">
            <div class="row">
                <div class="col">
                    <span>

                    </span>
                </div>
            </div>
            <div class="row row-category">
                <div class="col-md-11 display-flex">
                    <span>Технологические исследования</span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-2 name">
                    <span>
                        Интревал (по стволу)
                    </span>
                </div>
                <div class="col-md-2 name">
                    <span>Дата/время</span>
                </div>
                <div class="col-md-2 name">
                    <span>Параметр</span>
                </div>
                <div class="col-md-2 name">
                    <span>Формат/оперативность</span>
                </div>
                <div class="col-md-3 name">
                    <span>Фальсификат</span>
                </div>
                <div class="col-md-1 name" style="background-color: white;">
                    <button type="button" onclick="addRow(this)">
                        Добавить строку
                    </button>
                </div>
            </div>
            {% if quality_sheet.rows_technological %}
                {% for row in quality_sheet.rows_technological %}
                    <div class="row form-group data" id="row_tech_{{ row.id }}">
                        <div class="col-md-1 content">
                            <input type="text" value="{{ row.interval_beg }}">
                        </div>
                        <div class="col-md-1 content">
                            <input type="text" value="{{ row.interval_end }}">
                        </div>
                            <div class="col-md-2 content">
                            <input type="text" class="date assigned_date"
                                   value="{{ row.date }}"
                                   data-position="right top"
                                   data-timepicker="true"
                                   autocomplete="off">
                        </div>
                        <div class="col-md-2 content">
                            <input type="text" value="{{ row.technological_parameter.name }}">
                        </div>
                        <div class="col-md-2 content">
                            <input type="text" value="{{ row.technological_format.name }}">
                        </div>
                        <div class="col-md-3 content">
                            <input type="text" value="{{ row.counterfeit }}">
                        </div>
                        <div class="col-md-1 content" style="background-color: white;">
                            <button onclick="check = confirm('Удалить строку?');
                                            if (check){delete_row(this)} "
                                    type="button"
                                    style="display: none;">
                                Удалить строку
                            </button>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="row form-group data">
                    <div class="col-md-1 content">
                        <input type="text" value="{{ quality_sheet.gti_table_row.gti_quality_sheet.interval_beg }}">
                    </div>
                    <div class="col-md-1 content">
                        <input type="text" value="">
                    </div>
                        <div class="col-md-2 content">
                        <input type="text" class="date assigned_date"
                               data-position="right top"
                               data-timepicker="true"
                               autocomplete="off">
                    </div>
                    <div class="col-md-2 content">
                        <select>
                        {% for p in param %}
                            <option>
                                {{ p.name }}
                            </option>
                        {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-2 content">
                        <input type="text" value="">
                    </div>
                    <div class="col-md-3 content">
                        <input type="text" value="">
                    </div>
                    <div class="col-md-1 content" style="background-color: white;">
                        <button onclick="check = confirm('Удалить строку?');
                                        if (check){delete_row(this)} "
                                type="button"
                                style="display: none;">
                            Удалить строку
                        </button>
                    </div>
                </div>
            {% endif %}
        </div>


        <div id="gas_research">
            <div class="row row-category name-content-group">
                <div class="col-md-11 display-flex">
                    <span>Газовый каротаж</span>
                </div>
            </div>
            <div class="row form-group row">
                <div class="col-md-2 name">
                    <span>
                        Интревал (по стволу)
                    </span>
                </div>
                <div class="col-md-2 name">
                    <span>Дата/время</span>
                </div>
                <div class="col-md-2 name">
                    <span>Параметр</span>
                </div>
                <div class="col-md-2 name">
                    <span>Формат/оперативность</span>
                </div>
                <div class="col-md-3 name">
                    <span>Фальсификат</span>
                </div>
                <div class="col-md-1 name" style="background-color: white;">
                    <button type="button" onclick="addRow(this)">
                        Добавить строку
                    </button>
                </div>
            </div>
            {% if quality_sheet.rows_technological %}
                {% for row in quality_sheet.rows_technological %}
                    <div class="row form-group data">
                        <div class="col-md-1 content">
                            <input type="text" value="">
                        </div>
                        <div class="col-md-1 content">
                            <input type="text" value="">
                        </div>
                            <div class="col-md-2 content">
                            <input type="text" class="date assigned_date"
                                   data-position="right top"
                                   data-timepicker="true"
                                   autocomplete="off">
                        </div>
                        <div class="col-md-2 content">
                            <input type="text" value="">
                        </div>
                        <div class="col-md-2 content">
                            <input type="text" value="">
                        </div>
                        <div class="col-md-3 content">
                            <input type="text" value="">
                        </div>
                        <div class="col-md-1 content" style="background-color: white;">
                            <button onclick="check = confirm('Удалить строку?');
                                            if (check){delete_row(this)} "
                                    type="button"
                                    style="display: none;">
                                Удалить строку
                            </button>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="row form-group data">
                    <div class="col-md-1 content">
                        <input type="text" value="">
                    </div>
                    <div class="col-md-1 content">
                        <input type="text" value="">
                    </div>
                        <div class="col-md-2 content">
                        <input type="text" class="date assigned_date"
                               data-position="right top"
                               data-timepicker="true"
                               autocomplete="off">
                    </div>
                    <div class="col-md-2 content">
                        <input type="text" value="">
                    </div>
                    <div class="col-md-2 content">
                        <input type="text" value="">
                    </div>
                    <div class="col-md-3 content">
                        <input type="text" value="">
                    </div>
                    <div class="col-md-1 content" style="background-color: white;">
                        <button onclick="check = confirm('Удалить строку?');
                                        if (check){delete_row(this)} "
                                type="button"
                                style="display: none;">
                            Удалить строку
                        </button>
                    </div>
                </div>
            {% endif %}

        </div>

        <div id="geo_research">
            <div class="row row-category name-content-group">
                <div class="col-md-11 display-flex">
                    <span>Геолого-Геохимические исследования</span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-2 name">
                    <span>
                        Интревал (по стволу)
                    </span>
                </div>
                <div class="col-md-2 name">
                    <span>Дата/время</span>
                </div>
                <div class="col-md-2 name">
                    <span>Параметр</span>
                </div>
                <div class="col-md-2 name">
                    <span>Формат/оперативность</span>
                </div>
                <div class="col-md-3 name">
                    <span>Фальсификат</span>
                </div>
                <div class="col-md-1 name" style="background-color: white;">
                    <button type="button" onclick="addRow(this)">
                        Добавить строку
                    </button>
                </div>
            </div>
            {% if quality_sheet.rows_technological %}
                {% for row in quality_sheet.rows_technological %}
                    <div class="row form-group data">
                        <div class="col-md-1 content">
                            <input type="text" value="">
                        </div>
                        <div class="col-md-1 content">
                            <input type="text" value="">
                        </div>
                            <div class="col-md-2 content">
                            <input type="text" class="date assigned_date"
                                   data-position="right top"
                                   data-timepicker="true"
                                   autocomplete="off">
                        </div>
                        <div class="col-md-2 content">
                            <input type="text" value="">
                        </div>
                        <div class="col-md-2 content">
                            <input type="text" value="">
                        </div>
                        <div class="col-md-3 content">
                            <input type="text" value="">
                        </div>
                        <div class="col-md-1 content" style="background-color: white;">
                            <button onclick="check = confirm('Удалить строку?');
                                            if (check){delete_row(this)} "
                                    type="button"
                                    style="display: none;">
                                Удалить строку
                            </button>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="row form-group data">
                    <div class="col-md-1 content">
                        <input type="text" value="">
                    </div>
                    <div class="col-md-1 content">
                        <input type="text" value="">
                    </div>
                        <div class="col-md-2 content">
                        <input type="text" class="date assigned_date"
                               data-position="right top"
                               data-timepicker="true"
                               autocomplete="off">
                    </div>
                    <div class="col-md-2 content">
                        <input type="text" value="">
                    </div>
                    <div class="col-md-2 content">
                        <input type="text" value="">
                    </div>
                    <div class="col-md-3 content">
                        <input type="text" value="">
                    </div>
                    <div class="col-md-1 content" style="background-color: white;">
                        <button onclick="check = confirm('Удалить строку?');
                                        if (check){delete_row(this)} "
                                type="button"
                                style="display: none;">
                            Удалить строку
                        </button>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    <button type="submit" class="btn btn-primary">
        Сохранить
    </button>
</form>
{% endblock %}

{% block bottom_scripts %}

<script src="{{ url_for('static', filename='js/datepicker/init_date.js') }}"></script>

{% endblock %}